@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,200&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #dee6fd;
  background-color: #17171a;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 10px 0;
}

p {
  margin: 0;
}

button {
  min-width: 120px;
  padding: 10px 0;
  border-radius: 4px;
  color: inherit;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #0186e5 !important;
  border: 1px solid #0186e5;
}

.btn-danger {
  background-color: #e84063 !important;
  border: 1px solid #e84063;
}

input {
  border: 1px solid #222228;
  border-radius: 4px;
  background-color: #222228;
  color: #dee6fd;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

nav {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #222228;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login {
  padding: 0 10px;
  text-align: center;
  margin-top: 80px;
}

.login img {
  width: 150px;
}

.login .form {
  margin-top: 20px;
}

.login button {
  width: 100%;
}

.nav {
  width: 450px;
  padding: 7px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav h1 {
  font-size: 24px;
  margin-bottom: 0 !important;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.menu a {
  margin-left: 4px;
  text-decoration: none;
  color: inherit;
  padding: 3px 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu a svg {
  font-size: 16px;
  margin-top: 5px;
}

.menu a label {
  font-size: 11px;
  margin-top: 5px;
}

a.active {
  background-color: #17171a !important;
}

.menu a:hover {
  background-color: #17171a !important;
}

.main {
  width: 100%;
  height: 400px;
  padding: 0 10px;
  box-sizing: border-box !important;
}

.fitwidth {
  width: 450px;
  margin: 0 auto;
}

.summary-box {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 20px;
}

.box {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box svg {
  font-size: 36px;
}

.box div {
  margin-left: 10px;
}

.box-4 {
  grid-column: auto/span 4;
}

.box-6 {
  grid-column: auto/span 6;
}

.box-12 {
  grid-column: auto/span 12;
}

.daily {
  background-color: #222228;
}

.monthly {
  background-color: #222228;
}

.shopping-date {
  font-weight: bold;
  margin-bottom: 10px !important;
  display: flex;
  justify-content: space-between;
}

.daily svg {
  color: #0186e5;
}

.monthly svg {
  color: #e84063;
}

.box label {
  font-weight: bold;
}

.box p {
  font-size: 20px;
}

.form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.form .btn-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn-group button {
  margin-left: 6px;
}

.sl-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #222228;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item-price {
  font-weight: bold;
  font-size: 12px;
}

.sl-item .btn-del {
  cursor: pointer;
  top: 5px;
  right: 8px;
  font-size: 15px;
}

.sl-item .btn-del:hover {
  font-weight: bold;
}

.shopping-list-container {
  height: calc(100vh - 380px);
  overflow-y: auto;
}

.monthly-shopping-container {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.survey-list-container {
  height: calc(100vh - 345px);
  overflow-y: auto;
}

.year-summary-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: thin solid #4a4949;
}

.summary-month-item {
  display: flex;
  flex-direction: column;
  background-color: #222228;
  padding: 10px;
  height: 60px;
  border-bottom: thin solid #4a4949;
  border-right: thin solid #4a4949;
}

.year-summary-container:last-child {
  border-right: none !important;
  border-bottom: none !important;
}

.summary-month-item label {
  font-weight: bold;
  font-size: 16px;
}

.user-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-new-user {
  background-color: #222228;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.user-actions {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-actions svg {
  cursor: pointer;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  width: 450px;
  height: auto;
  margin: 60px auto;
  background-color: #17171a;
  border-radius: 8px;
}

.confirm-content {
  padding: 20px 10px;
  text-align: center;
}

.confirm-content svg {
  font-size: 38px;
  margin-bottom: 20px;
}

.confirm-btn-group {
  margin-top: 20px;
}

.confirm-btn-group button{
  margin: 0 5px;
}

.modal-header, .modal-body, .modal-footer {
  padding: 15px 10px;
}

.modal-header {
  border-bottom: thin solid #4a4949;
}

.modal-footer {
  border-top: thin solid #4a4949;
}

.modal-footer .btn-group {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 576px) {
  .nav h1 {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menu a {
    margin: 0 5px !important;
  }
  .fitwidth, .nav {
    width: 100%;
  }

  .modal-content {
    width: calc(100vw - 40px);
  }
}
